################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommerceBot/bin
/CommerceBot/obj/Debug
/.vs
/CommerceBot.Model/bin/Debug
/CommerceBot.Model/obj/Debug
/CommerceBot.Repository/bin/Debug
/CommerceBot.Repository/obj/Debug
/packages
